@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio web</h1>
    <p>Holi I'm sorry  <a href="https://razasyperros.es/wp-content/uploads/2018/12/Mi-perro-est%C3%A1-triste-%C2%BFqu%C3%A9-se-debe-hacer-200.jpg"> Sorry</a>.</p>
</div>
